<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">      
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="http://www.bsource.com.br/">
        <p class="def" style="color: white;">Autor</p>
        <h3 class="name">
            <a aria-label="Minha Conta stackoverflow" itemprop="name" href="https://stackoverflow.com/users/10642151/daniel-da-cunha-bueno">{{site.username}}</a>
        </h3>
        <p class="desc" style="  color: white;">Senior Software Enginer em aplicações web e mobile (#C,Sencha Ext JS, Xamarin).</p>
        <p><h2 style=" color: white; text-align: center;"> Siga a BSource</h2></p>
        <div class="sharethis-inline-follow-buttons"></div>
    </div>
</section>





