<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="http://www.bsource.com.br/">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="https://www.linkedin.com/in/danielcbueno/">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <p><a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a></p>
        <p><a href="https://github.com/danielcbueno "><img src="https://image.ibb.co/hmcjZf/icons8-github-32.png" alt="icons8-github-32" border="0"></a><a href="https://stackoverflow.com/users/10642151/daniel-da-cunha-bueno"><img src="https://image.ibb.co/m9P3S0/iconfinder-stackoverflow-rounded-394191.png" alt="iconfinder-stackoverflow-rounded-394191" border="0"></a></p>
    </div>
</section>
