<footer>
    <p> <a itemprop="github" href="https://github.com/danielcbueno" title="Github" target="_blank"
            class=" externalLink"> <svg>
                <use xlink:href="#icon-github"></use>
            </svg> </a> <a itemprop="facebook" href="https://facebook.com/bsourceconsultoria" title="Facebook"
            target="_blank" class=" externalLink"> <svg>
                <use xlink:href="#icon-facebook"></use>
            </svg> </a> <a itemprop="twitter" href="https://twitter.com/BSourceSistemas" title="Twitter" target="_blank"
            class=" externalLink"> <svg>
                <use xlink:href="#icon-twitter"></use>
            </svg> </a> <a itemprop="instagram" href="https://www.instagram.com/BSourceConsultoria" title="Instagram"
            target="_blank" class=" externalLink"> <svg>
                <use xlink:href="#icon-instagram"></use>
            </svg> </a> <a itemprop="linkedin" href="https://www.linkedin.com/company/bsource/?viewAsMember=true"
            title="LinkedIn" target="_blank" class=" externalLink"> <svg>
                <use xlink:href="#icon-linkedin"></use>
            </svg> </a> <a itemprop="youtube" href="https://www.youtube.com/channel/UCtUt5-tLjHflqiIoNJwrqNQ"
            title="Youtube" target="_blank" class=" externalLink"> <svg>
                <use xlink:href="#icon-youtube"></use>
            </svg> </a></p>
    <div style="width: 100px;">
        <ul>
            {% for link in site.links %}
            <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
        </ul>
    </div>
    <div class="footer-col" style="margin-left: 110px;margin-top: -215px;/* border-left: 2px solid #1B75BA; */"> <a
            href="https://dextra.com.br/pt/contato" class="footer-menu-item externalLink" target="_blank" style="
    text-align: center;">Contato </a><br> <span style="color: #808080;"> contato@bsource.com.br</span><br> <span style="
    color: #808080;"> +55 19 3256-6722</span><br> <span style=" color: #808080;"> +55 11 3014-0305</span><br><a
            href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"> <span
                style="width: 205px;display: inline-block;margin-top: 10px;">Rua Chile, 291 Vila Cechino Americana-SP
                <br> CEP 13465-740</span></a></div><br><br><br>
    <p><span>Um Blog desenvolvido</span> com <svg class="love">
            <use xlink:href="#icon-heart"></use>
        </svg> pela <a href="http://bsource.com.br" target="_blank" class="creator externalLink">BSource</a></p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" </script> var disqus_loaded = false; function
        load_disqus() {
            disqus_loaded = true; var disqus_shortname = 'danielbueno'; var
                disqus_title = 'Perguntas e Respostas - ExtJS'; var disqus_url = '/perguntas-e-respostas-jekyll/'; var
                    dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname
                        + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(dsq); var ldr = document.getElementById('disqus_loader');
    };
    window.onscroll = function (e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            //hit bottom of page
            if (disqus_loaded == false)
                load_disqus()
        }
    };
</script>
