<footer class="container">
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c06845702502798"></script>
    <div class="bootstrap-row">
        <div class="offset-1 col-11 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row">
                <h5>Mapa do Blog</h5>
            </div>
            {% for link in site.links %}
            {% if  link.title != 'Tags' and 
                    link.title != 'Series'  %}
            <div class="bootstrap-row"><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </div>
            {% endif%}
            {% endfor %}
            <div class="bootstrap-row"><a href="https://www.bsource.com.br/">Institucional</a></div>
        </div>
        <div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row">
                <h5>Mapa do Blog</h5>
            </div>
            {% for link in site.links %}
            {% if  link.title != 'Tags' %}
            <div class="bootstrap-row"><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </div>
            {% endif%}
            {% endfor %}
            <div class="bootstrap-row"><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml"
                    title="Atom/RSS feed">Feed</a></div>
        </div>

        <div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row">
                <h5>Mídias sociais</h5>
            </div>
            <div class="bootstrap-row">
                <a itemprop="github" href="https://github.com/BSourceSistemas"
                    title="GitHub BSource Consultoria em Sistemas" target="_blank">
                    <svg>
                        <use xlink:href="#icon-github"></use>
                    </svg>GitHub
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="facebook" href="https://facebook.com/bsourceconsultoria"
                    title="Facebook BSource Consultoria em Sistemas" target="_blank">
                    <svg>
                        <use xlink:href="#icon-facebook"></use>
                    </svg>Facebook
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="twitter" href="https://twitter.com/BSourceSistemas"
                    title="Twitter BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-twitter"></use>
                    </svg>Twitter
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="instagram" href="https://www.instagram.com/BSourceConsultoria"
                    title="Instagram BSource Consultoria em Sistemas" target="_blank" class="externalLink">
                    <svg>
                        <use xlink:href="#icon-instagram"></use>
                    </svg>Instagram
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="linkedin" href="https://www.linkedin.com/company/bsource/"
                    title="LinkedIn BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-linkedin"></use>
                    </svg> Linkedin
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="youtube" href="https://www.youtube.com/channel/UCtUt5-tLjHflqiIoNJwrqNQ?sub_confirmation=1"
                    title="Youtube BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-youtube"></use>
                    </svg> Youtube
                </a>
            </div>
        </div>
        <div class="col-2 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row">
                <h5>Tags</h5>
            </div>
            <div class="bootstrap-row">
                <a href="/tags/#extjs" title="extjs" class="text-left">
                    <img src="/assets/img/logo-sencha-transparent-16x16.png" title="Logottipo da Sencha Inc."
                        alt="Sencha">&nbsp;ExtJS
                </a>
            </div>
            <div class="bootstrap-row">
                <a href="/tags/#Cmd" title="Sencha Cmd">
                    CMD
                </a>
            </div>
            <div class="bootstrap-row">
                <a href="/tags/#opensource" title="OpenSource">
                    OpenSource
                </a>
            </div>
            <div class="bootstrap-row">
                <a href="/tags" title="Outras Tags">
                    Tags
                </a>
            </div>
        </div>
        <div class="offset-1 col-11 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row">
                <h5>Principais Tags</h5>
            </div>
            <div class="bootstrap-row">
                <a href="/tags/#extjs" title="extjs" class="no-side-paddings">
                    <img src="/assets/img/logo-sencha-transparent-16x16.png" title="Logottipo da Sencha Inc."
                        alt="Sencha">&nbsp;ExtJs
                </a>,&nbsp;
                <a href="/tags/#tutorial" title="Nossos Tutoriais">
                    Tutoriais
                </a>,&nbsp;
                <a href="/tags/#opensource" title="Assuntos relacionados a projetos Open Source">
                    Open Source
                </a>,&nbsp;
                <a href="/tags" title="Outras tags">
                    Outras
                </a>
            </div>
        </div>
        <div class="offset-1 col-11 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row">
                &nbsp;
            </div>
            <div class="bootstrap-row">
                <h5>Nosso endereço</h5>
            </div>
            <div class="bootstrap-row">
                <address class="text-left">
                    <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                    Rua Chile, 291
                    </a>
                    <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                    <BR />Vila Cechino
                    </a>
                    <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                    <BR />Americana-SP
                    </a>
                    <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                    <BR />CEP 13465-740
                    </a>
                    <BR /><abbr title="Telefone">Tel:</abbr> <a href="tel:551934056267">+55 (19) 3405-6267</a>
                </address>
            </div>
        </div>
        <div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row text-right">
                <div class="col-12">
                    <h5>Nosso endereço</h5>
                </div>
                <div class="col-12">
                    <address>
                        <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                        Rua Chile, 291
                        </a>
                        <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                        <BR />Vila Cechino
                        </a>
                        <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                        <BR />Americana-SP
                        </a>
                        <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                        <BR />CEP 13465-740
                        </a>
                        <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink"></a>
                        <BR /><abbr title="Telefone">Tel:</abbr><a href="tel:551934056267">+55 (19) 3405-6267</a>
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="bootstrap-row">
        <div class="offset-1 col-10 d-block d-sm-block d-md-block d-lg-none d-xs-none text-center">
            <div class="bootstrap-row text-center footer-social-media-icons-small separator">
                <a itemprop="github" href="https://github.com/BSourceSistemas" class="externalLink col-2"
                    title="GitHub BSource Consultoria em Sistemas" target="_blank">
                    <svg>
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
                <a itemprop="facebook" href="https://facebook.com/bsourceconsultoria"
                    title="Facebook BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2">
                    <svg>
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                </a>
                <a itemprop="twitter" href="https://twitter.com/BSourceSistemas"
                    title="Twitter BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2">
                    <svg>
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                </a>
                <a itemprop="instagram" href="https://www.instagram.com/BSourceConsultoria"
                    title="Instagram BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2"> <svg>
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a itemprop="linkedin" href="https://www.linkedin.com/company/bsource/"
                    title="LinkedIn BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2"> <svg>
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>
                <a itemprop="youtube" href="https://www.youtube.com/channel/UCtUt5-tLjHflqiIoNJwrqNQ?sub_confirmation=1"
                    title="Youtube BSource Consultoria em Sistemas" target="_blank" class=" externalLink col-2">
                    <svg>
                        <use xlink:href="#icon-youtube"></use>
                    </svg>
                </a>
            </div>
            <div class="bootstrap-row">
                &nbsp;
            </div>
            <div class="bootstrap-row separator">
                &nbsp;
            </div>
        </div>

        <div class="col-12 text-center d-block d-sm-block d-md-block d-lg-none d-xs-none">
            Um Blog desenvolvido com 😍 e ☕<BR />por nós da <a href="https://www.bsource.com.br" target="_blank"
                class="creator externalLink">BSource</a>
        </div>
        <div class="col-12 text-center d-none d-sm-none d-md-none d-lg-block d-xs-block separator">
            Um Blog desenvolvido com 😍 e ☕ por nós da <a href="https://www.bsource.com.br" target="_blank"
                class="creator externalLink">BSource</a>
        </div>
    </div>
    <div class="bootstrap-row">
        &nbsp;
    </div>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" </script> var disqus_loaded = false; function
        load_disqus() {
            disqus_loaded = true; var disqus_shortname = 'danielbueno'; var
                disqus_title = 'Perguntas e Respostas - ExtJS'; var disqus_url = '/perguntas-e-respostas-jekyll/'; var
                    dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname
                        + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(dsq); var ldr = document.getElementById('disqus_loader');
    };
    window.onscroll = function (e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            if (disqus_loaded == false)
                load_disqus()
        }
    };
</script>
