<footer class="container">
    <div class="bootstrap-row">
        <div class="offset-1 col-10 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row text-center">
                <a itemprop="github" href="https://github.com/BSourceSistemas" class="externalLink col-2"
                    title="GitHub BSource Consultoria em Sistemas" target="_blank">
                    <svg>
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
                <a itemprop="facebook" href="https://facebook.com/bsourceconsultoria"
                    title="Facebook BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2">
                    <svg>
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                </a>
                <a itemprop="twitter" href="https://twitter.com/BSourceSistemas"
                    title="Twitter BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2">
                    <svg>
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                </a>
                <a itemprop="instagram" href="https://www.instagram.com/BSourceConsultoria"
                    title="Instagram BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2"> <svg>
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a itemprop="linkedin" href="https://www.linkedin.com/company/bsource/"
                    title="LinkedIn BSource Consultoria em Sistemas" target="_blank" class="externalLink col-2"> <svg>
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>
                <a itemprop="youtube" href="https://www.youtube.com/channel/UCtUt5-tLjHflqiIoNJwrqNQ?sub_confirmation=1"
                    title="Youtube BSource Consultoria em Sistemas" target="_blank" class=" externalLink col-2">
                    <svg>
                        <use xlink:href="#icon-youtube"></use>
                    </svg>
                </a>
            </div>
            <div class="bootstrap-row">
                &nbsp;
            </div>
        </div>
        <div class="offset-1 col-11 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row">
                <h5>Mapa do Site</h5>
            </div>
            <ul>
                {% for link in site.links %}
                {% if  link.title != 'Tags' and 
                       link.title != 'Series'  %}
                <li class="bootstrap-row"><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endif%}
                {% endfor %}
            </ul>
        </div>
        <div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row">
                <h5>Mapa do Site</h5>
            </div>
            <ul>
                {% for link in site.links %}
                {% if  link.title != 'Tags' %}
                <li class="bootstrap-row"><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endif%}
                {% endfor %}
                <li class="bootstrap-row"><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml"
                        title="Atom/RSS feed">Feed</a></li>
            </ul>
        </div>

        <div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row">
                <h5>Mídias sociais</h5>
            </div>
            <div class="bootstrap-row">
                <a itemprop="github" href="https://github.com/BSourceSistemas"
                    title="GitHub BSource Consultoria em Sistemas" target="_blank">
                    <svg>
                        <use xlink:href="#icon-github"></use>
                    </svg>GitHub
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="facebook" href="https://facebook.com/bsourceconsultoria"
                    title="Facebook BSource Consultoria em Sistemas" target="_blank">
                    <svg>
                        <use xlink:href="#icon-facebook"></use>
                    </svg>Facebook
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="twitter" href="https://twitter.com/BSourceSistemas"
                    title="Twitter BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-twitter"></use>
                    </svg>Twitter
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="instagram" href="https://www.instagram.com/BSourceConsultoria"
                    title="Instagram BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-instagram"></use>
                    </svg>Instagram
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="linkedin" href="https://www.linkedin.com/company/bsource/"
                    title="LinkedIn BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-linkedin"></use>
                    </svg> Linkedin
                </a>
            </div>
            <div class="bootstrap-row">
                <a itemprop="youtube" href="https://www.youtube.com/channel/UCtUt5-tLjHflqiIoNJwrqNQ?sub_confirmation=1"
                    title="Youtube BSource Consultoria em Sistemas" target="_blank" class=" externalLink"> <svg>
                        <use xlink:href="#icon-youtube"></use>
                    </svg> Youtube
                </a>
            </div>
        </div>
        <div class="col-lg-2 d-none d-sm-none d-md-none d-lg-block d-xs-block">
            <div class="bootstrap-row">
                <h5>Tags</h5>
            </div>
            <div class="bootstrap-row">
                <a href="/tags/#opensource" title="OpenSource" class=" externalLink">
                    OpenSource
                </a>
            </div>
        </div>
        <div class="offset-1 col-11 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row">
                <h5>Tags</h5>
            </div>
            <div class="bootstrap-row">
                <a href="/tags/#opensource" title="OpenSource" class=" externalLink">
                    OpenSource
                </a>
            </div>
        </div>
        <div class="offset-1 col-11 d-block d-sm-block d-md-block d-lg-none d-xs-none">
            <div class="bootstrap-row">
                &nbsp;
            </div>
            <div class="bootstrap-row">
                <h5>Nosso endereço</h5>
            </div>
            <div class="bootstrap-row">
                <address class="text-left">
                    <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink">
                        <strong>BSource Consultoria em Sistemas</strong>
                    </a>
                    <BR />Rua Chile, 291
                    <BR />Vila Cechino
                    <BR />Americana-SP
                    <BR />CEP 13465-740
                    <BR /><abbr title="Telefone">Tel:</abbr> +55 (19) 3405-6267
                </address>
            </div>
        </div>
    </div>
    <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block d-xs-block">
        <div class="bootstrap-row text-right">
            <div class="col-12">
                <h5>Nosso endereço</h5>
            </div>
            <div class="col-12">
                <address>
                    <BR />
                    <a href="https://goo.gl/maps/bguEuX9LjL22" target="_blank" class=" externalLink">
                        Rua Chile, 291
                    </a>
                    <BR />Vila Cechino
                    <BR />Americana-SP
                    <BR />CEP 13465-740
                    <BR /><abbr title="Telefone">Tel:</abbr><a href="tel:+551934056267">+55 (19) 3405-6267</a>
                </address>
            </div>
        </div>
    </div>
    </div>
    <div class="bootstrap-row separator">
        <div class="col-12 text-center">
            <span>Um Blog desenvolvido</span> com <svg class="love">
                <use xlink:href="#icon-heart"></use>
            </svg> pela <a href="https://www.bsource.com.br" target="_blank" class="creator externalLink">BSource</a>
        </div>
    </div>
    <!--
    <p>
</p>
    <div style="width: 100px;">
    </div>
    <div class="" style="margin-left: 110px;margin-top: -215px;/* border-left: 2px solid #1B75BA; */"> <a
            href="https://dextra.com.br/pt/contato" class="footer-menu-item externalLink" target="_blank" style="
    text-align: center;"></a><br> <span style="color: #808080;"> contato@bsource.com.br</span><br>
        <div>
            <span style="color: #808080;">+55 19 3256-6722</span><br>
            <span style=" color: #808080;"> +55 11 3014-0305</span></div><br><a href="https://goo.gl/maps/bguEuX9LjL22"
            target="_blank" class=" externalLink"> <span
                style="width: 205px;display: inline-block;margin-top: 10px;">Rua Chile, 291 Vila Cechino Americana-SP
                <br> CEP 13465-740</span><br></a>
    </div>
    <br><br><br><br>
    <p><span>Um Blog desenvolvido</span> com <svg class="love">
            <use xlink:href="#icon-heart"></use>
        </svg> pela <a href="http://bsource.com.br" target="_blank" class="creator externalLink">BSource</a></p>
        -->
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" </script> var disqus_loaded = false; function
        load_disqus() {
            disqus_loaded = true; var disqus_shortname = 'danielbueno'; var
                disqus_title = 'Perguntas e Respostas - ExtJS'; var disqus_url = '/perguntas-e-respostas-jekyll/'; var
                    dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname
                        + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] ||
                            document.getElementsByTagName('body')[0]).appendChild(dsq); var ldr = document.getElementById('disqus_loader');
    };
    window.onscroll = function (e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 800)) {
            //hit bottom of page
            if (disqus_loaded == false)
                load_disqus()
        }
    };
</script>