
<hr><br>
<section class="formularioBS" itemprop="formularioBS;">
  <div class="center">
    <img src="/assets/img/logo-bsource.png" alt="BSourceimg" style="margin:0 auto; margin-top: 0px;"><br>
  </div>
  <br>
  <div class="linha">
    <div class="botoes">
      <h3 style="color:#1B75BA">Inscreva-se e receba gratuitamente atualizações do blog.</h3>
      <a href="{{site.baseurl}}/newsletter"><button type="submit" value="entrar">Inscrever-se</button></a>
    </div>
    <h5 style="color: #9e9e9e; text-align: center;">fique tranquilo, não faremos spam.</h5>
  </div>
</section>
