<section class="formularioBS" itemprop="formularioBS">
    <h1 style=" margin-left: 500px; color: white;">Siga Nosso Blog</h1>
  <form accept-charset="UTF-8" action="https://formkeep.com/f/4cdb0323e2dd" method="POST" class="details">
    <ul class="details">   
         <div class="polaroid">   
            <img src="https://i.ibb.co/prnzMNG/bsource-contato-newslater22.png"  style="width:40%;margin-left: -120px;margin-top: 50px;">
            <div class="container" style="padding-top: 90px;">     
    <input type="hidden" name="utf8" value="✓">
  
    <label for="nome" style="color: white;">Nome</label>
    <input type="nome" id="nome"  placeholder="Seu Nome" style="color:black;" name:"nome">
    
    <br>
   
    <label for="e-mail" style="color: white;">E-mail</label>
    <input type="e-mail" id="email-address"  placeholder="Seu e-mail" style="
    color: rgb(0, 0, 0);" name= "email">

    <button type="submit" class="button">Seguir</button>
    </ul>
  </form>
    </section>
    