
<!--
<hr><br>

<section class="formularioBS" itemprop="formularioBS;">
    <div class="center">
        <img src="https://i.ibb.co/prnzMNG/bsource-contato-newslater22.png" align= "middle" alt="BSourceimg" style="margin:0 auto; margin-top: 0px;"><br>
    </div>
      <form accept-charset="UTF-8" action="https://formkeep.com/f/4416f269695a" method="POST" 
      target="_blank" class="formularioBS" style="width: 100%; max-width: 600px;margin-left: 0px; margin: auto;">
    
        <label for="name" style="color: white;">Nome</label>
        <input type="text" id="name" name="name" placeholder="Luis Fernando"><br><br>
      
        <label  for="email" style=" color: white;">Email</label>
        <input type="email" id="email" name="email" placeholder="luis@gmail.com"><br><br>
      
        <br>     

        <label for="organization-title" style="color: white; ">Qual Tag do blog é a sua favorita?</label>
        <input list="organization-title" id="title" name="title">
        <datalist id="organization-title">
          <option value="iniciante">
          <option value="dicarápida">
          <option value="tutorial">
          <option value="noticias">
          <option value="cmd">
        </datalist><br><br>
       
      </div>
      
        <label for="range" style=" color: white;">Qual a chance de você recomendar o nosso blog a um amigo?</label>
        <input type="range" id="range" name="range" min="0" max="10">
        <br><br>
        
    
        <input type="hidden" name="subscribe" value="no">
        <label for="checkbox" style="color: white;"><input type="checkbox" id="checkbox" name="subscribe" value="yes" checked>Desejo receber notificações de novos conteúdos
        </label><br><br>
    
     
        <input type="hidden" name="utf8" value="✓">
    
      
    <button type="submit" style="margin: auto ;
        margin-left: 25px;">Seguir</button></button>
        <button type="reset" style=" margin:auto;
        margin-left: 5px;">Resetar os Campos</button>
      </form>
    </section>
    


  -->
<hr><br>

<section class="formularioBS" itemprop="formularioBS;">
    <div class="center">
        <img src="https://i.ibb.co/prnzMNG/bsource-contato-newslater22.png" align= "middle" alt="BSourceimg" style="margin:0 auto; margin-top: 0px;"><br>
    </div>
      
<br><br>
        <div class="linha">
            <div class="botoes"> 
                <a href="{{site.baseurl}}/newsletter"><button type="submit" value="entrar">Receber Notificações</button></a>
    <h5 style="color: white; text-align: center;">fique tranquilo, não faremos span</h5>
     </div>
     </div>
  </form>
    </section>
    
    
    
   
   