<!--<form action="https://formspree.io/murilo.santos@bsource.com.br" method="POST">
  <input type="text" name="Murilo">
  <input type="email" name="https://formspree.io/murilo.santos@bsource.com.br">
  <input type="submit" value="Enviar">
</form>


div id="form">
    <form method="POST" action="https://formspree.io/thiago.rossener@gmail.com">
        v-on:submit.prevent="validateBeforeSubmit" ref="contato">
      <fieldset>
        <input type="hidden" name="_subject" value="Novo contato!" />
        <input type="hidden" name="_next" value="https://www.rossener.com/contato/mensagem-enviada/" />
        <input type="hidden" name="_language" value="pt" />
    
        <input type="text" name="nome" placeholder="Seu nome"> v-validate="'required'">
                :class="{ 'has-error': errors.has('nome') }">
        <span v-if="errors.has('nome')">${ errors.first('nome') }</span>
       
        <input type="text" name="email" placeholder="Seu e-mail">v-validate="'required|email'">
                :class="{ 'has-error': errors.has('nome') }">
        <span v-if="errors.has('email')">${ errors.first('email') }</span>

    
        <textarea name="mensagem" placeholder="Sua mensagem">v-validate="'required'">
                :class="{ 'has-error': errors.has('nome') }"></textarea>
        <span v-if="errors.has('mensagem')">${ errors.first('mensagem') }</span>

    
        <button type="submit">Enviar</button>
      </fieldset>
    </form>
</div>