<header class="bar-header">
    <h1 class="logo">
        </h1>
            <a href="{{site.baseurl}}/"><img src="https://i.ibb.co/cckrWfR/bsource-contato-newslater22.png" alt="bsource-contato-newslater22" class="responsive"></a>
            <!-- <a href="{{site.baseurl}}/"><img src="/assets//img/logo-bsource.png" alt="bsource-contato-newslater22" class="responsive"></a> -->
            <a class= "site.title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>       
        </header>
{% include menu-search.html %}

