<div class="offset-1 col-10 d-block d-sm-block d-md-block d-lg-none d-xs-none text-center">
    <h4>Relacionados:</h4>
    {% assign maxRelated = 3 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 1 %}

    {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for category in post.categories %}
    {% if post.url != page.url %}
    {% if page.categories contains category %}
    {% assign sameTagCount = sameTagCount | plus: 1 %}
    {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
    {% assign commonTags = commonTags | append: tagmarkup %}
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="offset-1 col-10 d-block d-sm-block d-md-block d-lg-none d-xs-none text-center">
            <br>
            <h5>{{ post.title }}</h5>
            <img width="100%" src="{{post.image}}" class="">
        </div>
    </a>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
    {% break %}
    {% endif %}
    {% endif %}

    {% endfor %}
</div>